
/build
/coverage
# dependencies
/dist/
.DS_Store
/e2e/fixtures/small_test/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
# misc
/.next/
next-env.d.ts
# next.js (legacy)
/node_modules
npm-debug.log*
/out/
package-lock.json
*.pem
/playwright-report/
/.pnp
.pnp.js
# production
# testing
/test-results/
*.tsbuildinfo
# typescript
# vercel
.vercel
# vite
yarn-debug.log*
yarn-error.log*
