html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $m-size;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
